ion-content {
    --background: #f0f4f7;
  }
  
  form {
    ion-item {
      margin-bottom: 20px;
    }
  }
  
  h2 {
    color: #3a3a3a;
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    color: #525252;
  }