<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" rounterDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Sign up</h1>

    <p class="instructions">Create your account</p>

    <div class="form-container">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input [(ngModel)]="name" type="text" name="names" placeholder="Fullname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input [(ngModel)]="email" type="text" name="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input [(ngModel)]="password" type="password" name="password" placeholder="Password"></ion-input>
      </ion-item>
      
      <ion-button expand="block" class="main-button" (click)="signUp()">Sign up</ion-button>
      <div class="sign-up">
        Already have an account? <ion-button fill="clear" color="dark" routerLink="/login" routerDirection="forward">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>